<div class="fullwidth_div" ng-init="login_init()">
<div class="toaster_position">
	<toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
</div>
	<div class="card_login col-lg-4">
		<h3 class="text-primary text-center">USER LOGIN</h3>
		<hr>
		<div class="form" ng-form name="loginform">
			<div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" name="email" required>

			    <div class="error_message" ng-messages="loginform.email.$error" ng-if="loginform.email.$touched">
					<div ng-message="required" >This field is required</div>
					<div ng-message="email" >Must be a valid email id</div>
				</div>
		  
		  	</div>
		 	 <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" name="password" required>

			    <div class="error_message" ng-messages="loginform.password.$error" ng-if="loginform.password.$touched">
					<div ng-message="required">This field is required</div>
				</div>
		  	</div>

		  	<div class="form-group">
			    <button ng-click="login(loginform)" class="btn btn-primary" style="width:100%" ng-disabled="loginform.$invalid">Login</button>
		  	</div>
	  	</div><!-- End form -->
	</div>
</div>